<form [formGroup] ="customForm" (submit)="submit()" novalidate>
	<ul>
		<div formGroupName='xx'>
			<li>
				<input type="text" formControlName = 'firstName'/></li>
			
			<li>
				<select formControlName='other'>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</li>
			<li>
				<input type="number" formControlName ='age'/>
			</li>
		</div>	
		<li>
			<input type="text" formControlName ='lastName'/>
		</li>
		
		
		<li>
			<input type="text" #dww />
		</li>
		
	</ul>
	<button type="submit" >submit</button>
	{{customForm.value|json}}
	
</form>

父组件
  <input type="number" name="" placeholder="请输入股票代码" [(ngModel)]="stock">
  <app-oder-component [priceQuote]='priceQuote' [amount]='100'></app-oder-component>
  <app-priceq-quote (buy) = "buyHandler($event)"></app-priceq-quote>
  外部{{priceQuote.lastPrice}}--{{priceQuote.stockCode}}
